html {
    scroll-behavior: smooth;
}

  div.input-group{
    margin-top: 16px;
  }
  a.nav-link {
    color: black;
  }
  div.containerr{
    width: 400px;
    float: right;
    right: 0;
    padding: 0;
    margin:0;
    margin-top: 7%;
    margin-right: 100px;
    
 }
 h1.hh {
   padding-bottom: 50%;
 }

nav{

    background-color: rgba(255 , 255, 255, 1);
  }
h3{
    margin-top: 20px;
    margin-left: 50px;
    text-decoration: underline ; 
}
*{
    margin: 0;
    padding: 0;
}
.nav-link {
  color: black;
}

  .divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #405D9D;
    color: #fff;
}
div.bg-light{
    background-color: #405D9D;
}
.jumbotron {
  margin: 20px 70px;
}
.form-control{
  width: 400px;
}
a :hover {
  text-decoration: underline;
}